body{
    min-width: 370px;
    overflow-x: hidden;
}
.wrapper{
    min-height: 100vh;
}
p.diminuir-2l{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width:469px){
    .mt-xs-3{
        margin-top: 1rem;
        display: block;
    }
}